.nav-logo {
  background: url('../../../assets/images/supp-topnav-logo.svg');
  display: block;
  background-position: center;
  height: 50px;
  width: 150px;
  background-repeat: no-repeat;
  @include respond-below(xl) {
    width: 100px;
    height: 40px;
  }
}

.nav-icons {
  width: 40px;
  height: 40px;
  color: $separator-color;
  transition: all 0.4s;

  @include respond-below(xl) {
    width: 30px;
    height: 30px;
  }
}

.active {
  transform: scale(1.25);
  position: relative;
  color: $gradient-color-1;
  font-weight: 900;
}

.notification {
  position: relative;

  span {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    top: 0;
    right: 0;
    border-radius: 10px;

    background-color: red;
  }
}

.search {
  min-width: 400px;

  @include respond-below(xl) {
    min-width: 300px;
  }
}

.profile {
  min-width: 400px;

  @include respond-below(xl) {
    min-width: 300px;
  }
}
