.user-avatar {
  .avatar {
    width: 40px;
    height: 40px;
    @include respond-below(xl) {
      width: 35px;
      height: 35px;
    }
  }
  .md {
    width: 60px !important;
    height: 60px !important;

    @include respond-below(xl) {
      width: 50px !important;
      height: 50px !important;
    }
    @include respond-below(md) {
      width: 45px !important;
      height: 45px !important;
    }
  }
  .sm {
    @include respond-below(xl) {
      width: 30px !important;
      height: 30px !important;
    }
  }
  .isonline {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      width: 35%;
      height: 35%;
      background-color: rgb(63, 189, 46);
      border-radius: 100px;
      border: 2px solid white;
    }
  }
}
